<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #artForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="keyword"
        ngModel
        required
        minlength="1"
        #keyword="ngModel"
        placeholder="Keyword"
      >
      <mat-error *ngIf="keyword.invalid">Please enter keywords.</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        class="button"
        type="button"
        (click)="onGenerateArt(artForm)"
      >Generate Art</button>
    </div>

    <mat-card *ngIf="output" style="width:70%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title">{{ output.keyword.toUpperCase() }}</mat-card-title>
      </mat-card-header>
      <div class="frame">
        <div class="border">
          <img mat-card-image class="art" [src]="output.imageUrl" alt="art.keyword">
        </div>
      </div>
      <mat-card-content style="text-align: center">
        <br>
        <audio controls>
          <source [src]="output.audioUrl" type="audio/wav">
        </audio>
        <br>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          class="button"
          type="button"
          (click)="onAddArt()"
        >Save</button>
      </mat-card-actions>
    </mat-card>

  </form>

  <div>
    <p class="loading" *ngIf="isLoading && !output">Generating...</p>
    <p class="loading" *ngIf= "output && isLoading">Saving...</p>
  </div>

</mat-card>


