<mat-toolbar class="headerBar">
  <span>
    <a routerLink="/">
      <img src="assets/logo.png" alt="Logo" style="width: 150px; height: auto;">
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <button class="nav-link" mat-button *ngIf="!loggedIn" (click)="loginWithGoogle()">Sign In with Google</button>
      <a class="nav-link" mat-button routerLink="/create" *ngIf="loggedIn" routerLinkActive="active-link">New Art</a>
      <a class="nav-link" mat-button routerLink="/gallery" *ngIf="loggedIn" routerLinkActive="active-link">My Gallery</a>
      <button class="nav-link" mat-button *ngIf="loggedIn" (click)="logoutWithGoogle()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
